$brand-main-color: #8F57C6;
$brand-text-color: #212529;
$brand-secondary-color: #B793DA;
$brand-button-color: #FFA400;
$btn-box-shadow:0 0 4px 0 rgba(0,0,0,0.40);
$brand-bg-inner-color:#F8F8F8;
$base-transition:all 0.3s ease-in;